@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body{
  background-color:black;
  color:white;
  overflow-x: hidden;
  background-image: url('./darkness.png');
}

info, h1{
  color: white;
}

.App {
  /* text-align: center; */
  margin: 5%;
}

.logon{
  text-align: center;
  margin-top: 15%;
}

.logonGraphics{
  width: auto;
}

.notPlayingGraphic{
  width: 100%;
}

.title{
  font-size: 1.25rem;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #1DB954;
  text-underline-offset: 10%;
}

.title2{
  font-size: 1rem;
  /* opacity: .5; */
  text-decoration: underline;
  text-decoration-color: #1DB954;
}

.header{
  font-size: 1rem;
  font-weight: 900;
  padding: 2%;
}

button{
  margin:30px;
  margin-left: 0;
  z-index: 10000;
}

.info{
  /* padding-left: 5%; */
  margin-top: 2.5%;
}

.album-cover{
  width:75%;
  border-collapse: separate;
  border-spacing: 25px;
  border:2px solid #1DB954;
}

.section-push{
  margin:2%;
}

.btn-outline-spot{
  border: 2px solid #1DB954;
  color: #1DB954;
  background-color: transparent;
}

.btn-outline-spot:hover{
  background-color: #1DB954;
  color: black;
  transition: 0.5s;
}

.artistProfile{
  width: 50%;
  border: 2px solid #1DB954;
}

.center {
  text-align: center !important;
}

.isPremium{
  width: 150px;
  height: 150px;
  border: solid 4px gold;
  object-fit: fill;
  border-radius: 50%;
}

.isPremiumName{
  color: gold;
  font-family: Lato, sans-serif;
  letter-spacing: 3px;
}

.userProfilePic{
  width: 150px;
  height: 150px;
  border:4px solid #1DB954;
  object-fit: fill;
  border-radius: 50%;
}

.verified{
  fill:gold !important;
  width: 5%;
}