
body{
  background-color: #303030;
  color:white;
  overflow-x: hidden;
}

info, h1{
  color: white;
}

.App {
  text-align: center;
}

.title, .title2{
  font-size: 1.75rem;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #17a2b8;
}

.title2{
  opacity: .5;
  text-decoration: none;
}



button{
  margin:30px;
}

.info{
  /* padding-left: 5%; */
  margin-top: 2.5%;
}

.album-cover{
  width:35%;
  border-collapse: separate;
  border-spacing: 25px;
  border:2px solid #17a2b8;
}
