
body{
  background-color:black;
  color:white;
  overflow-x: hidden;
}

info, h1{
  color: white;
}

.App {
  /* text-align: center; */
  margin: 5%;
}

.title{
  font-size: 1.25rem;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #1DB954;
}

.title2{
  font-size: 1.25rem;
  opacity: .5;
  text-decoration: underline;
  text-decoration-color: #1DB954;
}

.header{
  font-size: 1rem;
  /* background-color: #17a2b8; */
}

button{
  margin:30px;
}

.info{
  /* padding-left: 5%; */
  margin-top: 2.5%;
}

.album-cover{
  width:35%;
  border-collapse: separate;
  border-spacing: 25px;
  border:2px solid #1DB954;
}

/* .top-push{
  margin-top:2%;
} */

.btn-outline-spot{
  border: 2px solid #1DB954;
  color: #1DB954;
  background-color: transparent;
}

.btn-outline-spot:hover{
  background-color: #1DB954;
  color: black;
  transition: 0.5s;
}

.artistProfile{
  width: 25%;
  border: 2px solid #1DB954;
}

.center {
  text-align: center !important;
}