@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body{
  background-color:black;
  color:white;
  overflow-x: hidden;
  background-image: url('assets/darkness.png');
}

info, h1{
  color: white;
}

.App {
  /* text-align: center; */
  margin: 5%;
}

.logon{
  text-align: center;
}

.logonGraphics{
  width: 40%;
  overflow: hidden;
}

.notPlayingGraphic{
  width: 100%;
}

.title{
  font-size: 1.25rem;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #1DB954;
  text-underline-offset: 10%;
}

.title2{
  font-size: 1rem;
  /* opacity: .5; */
  text-decoration: underline;
  text-decoration-color: #1DB954;
}

.header{
  font-size: 1rem;
  font-weight: 900;
  padding: 2%;
}

button{
  margin:30px;
  margin-left: 0;
  z-index: 10000;
}

.info{
  /* padding-left: 5%; */
  margin-top: 2.5%;
}

.album-cover{
  width:75%;
  border-collapse: separate;
  border-spacing: 25px;
  border:2px solid #1DB954;
}

.section-push{
  margin:2%;
}

.btn-outline-spot{
  border: 2px solid #1DB954;
  color: #1DB954;
  background-color: transparent;
}

.btn-outline-spot:hover{
  background-color: #1DB954;
  color: black;
  transition: 0.5s;
}

.artistProfile{
  width: 150px;
  height: 150px !important;
  /* object-fit: cover; */
  border: 2px solid #1DB954;
  overflow: hidden;
  background-position: center;
  background-size: contain;
  z-index: -100;
}

.center {
  text-align: center !important;
}

.centerTitles {
  position: absolute;
  color: #1DB954;
  font-weight: bolder;
  font-size: 18px;
  z-index: 1000 !important;
  background-color: black;
}

.isPremium{
  width: 150px;
  height: 150px;
  border: solid 4px gold;
  object-fit: fill;
  border-radius: 50%;
}

.isPremiumName{
  color: gold;
  font-family: Lato, sans-serif;
  letter-spacing: 3px;
}

.userProfilePic{
  width: 150px;
  height: 150px;
  border:4px solid #1DB954;
  object-fit: fill;
  border-radius: 50%;
}

.verified{
  fill:gold !important;
  width: 5%;
}

.analysis-list{
  margin-top: 10% !important;
  width: 100%;
  color: white;
  list-style: none;
  font-family: 'Ubuntu', sans-serif !important;
  font-size: x-large;
}

.value, .label{
  color: white !important; 
  display: flex;
  justify-content: left;
  margin: 0 !important;

}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  background-color: #1DB954 !important;
  color: white !important;
}

a.nav-link{
  color: white !important;
  font-size: 1.25em !important;
}

.nav{
  margin-bottom: 2% !important;
}

/* .carousel-control-next-icon {
  background-color: #1DB954;
} */

@media only screen and (max-width: 770px) {
  .logonGraphics{
    width: 100% !important;
    overflow: hidden;
    z-index: -1;
  }
  .nav{
    margin-top: 15%;
  }

  .btn-outline-spot{
    width: 100% !important;
  }
  }