@font-face {
  font-family: "Montserrat"; /*Can be any text*/
  src: local("Montserrat"), url("/assets/Montserrat.ttf") format("truetype");
}

body {
  background-color: black;
  color: white;
  overflow-x: hidden;
  /* background-image: url("assets/darkness.png"); */
}

.grid-container {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: 25% 25% 25% !important;
  overflow: hidden;
}

.grid-item {
  margin: auto;
}

info,
h1 {
  color: white;
}

.App {
  /* text-align: center; */
  margin: 5%;
}

.logon {
  text-align: center;
}

.logonGraphics {
  width: 40%;
  overflow: hidden;
}

.notPlayingGraphic {
  width: 100%;
}

.noAnalysis {
  width: 50%;
  margin-right: 25%;
  margin-left: 25%;
}

.title {
  font-size: 1.25rem;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #1db954;
  text-underline-offset: 10%;
  text-align: center;
}

.title2 {
  font-size: 1rem;
  /* opacity: .5; */
  text-decoration: underline;
  text-decoration-color: #1db954;
}

.header {
  font-size: 1rem;
  font-weight: 900;
}

button {
  margin: 30px;
  margin-left: 0;
  z-index: 10000;
}

.info {
  /* padding-left: 5%; */
  margin-top: 2.5%;
}

.album-cover {
  width: 75%;
  border-collapse: separate;
  border-spacing: 25px;
  border: 2px solid #1db954;
}

.section-push {
  margin: 2%;
}

.login.btn-outline-spot {
  width: auto;
}

.btn-outline-spot {
  width: 100%;
  border: 2px solid #1db954;
  color: #1db954;
  background-color: transparent;
}

.btn-outline-spot:hover {
  background-color: #1db954;
  color: black;
  transition: 0.5s;
}

.artistProfile {
  width: 150px;
  height: 150px !important;
  margin-right: 1%;
  /* object-fit: cover; */
  border: 2px solid #1db954;
  overflow: hidden;
  background-position: center;
  background-size: contain;
  z-index: -100;
}

.center {
  text-align: center !important;
}

.centerTitles {
  position: relative;
  color: #1db954;
  font-weight: bolder;
  font-size: 14px;
  z-index: 1000 !important;
  background-color: black;
  opacity: 80%;
}

.isPremium {
  width: 150px;
  height: 150px;
  margin: auto 30%;
  /* border: solid 4px gold; */
  object-fit: fill;
  border-radius: 50%;
  animation: goldPulse 2.5s infinite;
}

.isPremiumName {
  color: gold;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 3px;
}

.userProfilePic {
  width: 150px;
  height: 150px;
  /* border: 4px solid #1db954; */
  object-fit: fill;
  border-radius: 50%;
  animation: pulse 2.5s infinite;
  margin: auto 30%;
}

.verified {
  fill: gold !important;
  width: 5%;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 #1db954;
  }
  50% {
    transform: scale(1);
    box-shadow: 0 0 0 10px #1db954;
  }
  100% {
    transform: scale(0.9);
  }
}

@keyframes goldPulse {
  0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgb(255, 215, 0);
  }
  50% {
    transform: scale(1);
    box-shadow: 0 0 0 5px rgb(255, 215, 0);
  }
  100% {
    transform: scale(0.9);
  }
}

.analysis-list {
  margin-top: 10% !important;
  width: 100%;
  color: white;
  list-style: none;
  font-family: "Montserrat", sans-serif !important;
  font-size: x-large;
}

.value,
.label {
  color: white !important;
  display: flex;
  justify-content: left;
  margin: 0 !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: #1db954 !important;
  color: white !important;
}

a.nav-link,
a.item {
  color: white !important;
  font-size: 1.25em !important;
}

.active.item {
  color: #1db954 !important;
}

.active.item:hover {
  border-color: #1db954 !important;
}

.nav {
  margin-bottom: 2% !important;
}

.tab-content {
  margin: auto;
}

/* .carousel-control-next-icon {
  background-color: #1DB954;
} */

@media screen and (max-width: 835px) {
  .grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25% 25% 25%;
    /* grid-gap: 10px; */
    overflow: hidden;
  }

  .header,
  .title2 {
    text-align: center !important;
  }

  .album-cover {
    margin: auto;
  }

  .btn-outline-spot {
    width: 100% !important;
  }

  .tab-content {
    margin: auto 8%;
  }

  .isPremium,
  .userProfilePic {
    margin: auto 25%;
  }
}
